body {
    background-color: #005f5f;
    margin: 0; /* Añade margen cero para evitar espacios no deseados */
}

header {
    width: 100%;
    height: 70px;
    background-color: white;
}

/* Configuracion del logo */
.logo {
    background-color: black;
    width: 100px; /* tamaño del logo */
    height: 50px;
    padding-top: 10px; /* Ajusta el margen superior */
    padding-left: 10px; /* Ajusta el margen izquierdo */
}

main {
    background-color: blueviolet;
    position: relative; /* Cambiado a relativo */
    width: 100%;
    min-height: calc(100vh - 70px); /* Ajusta la altura del main */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    justify-content: space-between;
    padding: 0 40px; /* Añade padding horizontal */
}

.seccion_1 {
    background-color: #495057;
}

.contenedor_caja_texto {
    /* Eliminado position: flex; */
    margin-left: 20px; /* Ajuste de margen izquierdo */
    margin-top: 30px;
    width: 100%;
    height: 600px;
}

/* Resto del CSS sin cambios */

.seccion_2 {
    width: 400px;
    height: 795px;
    display: grid;
    position: relative;
    margin-top: 30px; /* Ajuste de margen superior */
    margin-bottom: 5px;
    margin-left: 130px;
    background-color: #00bfbf;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 20px 20px 32px -8px rgba(0, 0, 0, 1.5);
}

/* Resto del CSS sin cambios */

@media screen and (max-width: 770px) {
    main {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas más pequeñas */
    }
    .seccion_2 {
        margin-left: auto; /* Centra la sección en pantallas más pequeñas */
        margin-right: auto;
        margin:  30px auto 5px;
    }
}
